




<!-- <div class="access"> -->
<div class="full"></div>



<div class="container topi" >
<div class="row">



<div class='col-md-3'>
        <div class="form-group">
           <!-- <input type="text" class="form-control" placeholder="Search"> -->
           <%= form_tag searchs_gears_path, method: :get, :class => "form-group" do %>
          <p><%= text_field_tag :city, params[:city], class: "form-control", placeholder: "Search" %></p>
         <!--  <p><%= text_field_tag :item, params[:item], class: "form-control", placeholder: "Search Item (gear)" %></p> -->

           </div>
    </div>
    <div class='col-md-3'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-3'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

<div class='col-md-3'>
        <div class="form-group">
           <!-- <button type="submit" class="btn btn-default">Go Ski!</button> -->
           <%= submit_tag "search", class: "btn btn-default"%>
           <% end %>
        </div>
    </div>



    </div>
    </div>



</div>




