<!DOCTYPE html><html><head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="home.scss">
<title>Untitled Document</title>
</head>

<body>
<div class="bg"></div>
<div class="access"><input type="text" class="field" placeholder="Location"><input type="text" class="field" placeholder="start"><input type="text" class="field" placeholder="end"><input type="button" class="button" onclick="https://skiget.herokuapp.com/';" value=">" /></div>


<div class="nav"><img src="http://postimg.org/image/tdqdxl20t/" height="45px" alt=""/>
<div class="menu"><p></div>
</div>





</body></html>
